/******************COLOR******************/
$background-color: #F3F3F3;
$background-color-panel-left-1: #3E4B53;
$background-color-panel-left-2: #38434B;
$background-color-hover: #546570;
$color-text-hover: #FFFFFF;
$color-white: #FFF;
$color-text: #B5BABC;
$color-text-1: #5b5b5b;
$color-text-active: #7A868F;
$color-link: #777;
$color-logout: #EB5055;
$background-grey-1: #ABB7B7;
$background-grey-2: #98A3A3;
$background-grey-3: #888888;
$background-grey-4: #525D65;
$background-green-1: #68C39F;
$background-green-2: #5DAF8F;
$background-orange-1: #EDCE8C;
$background-orange-2: #D5B97E;
$background-dark-1: #4A525F;
$background-dark-2: #424A55;
$background-color-active: #4b5b65;

/********************************************/
$bg-dark-blue-100: #15212a;
$bg-dark-blue-200: #2E3942;
$bg-dark-blue-500: #395e70;
$bg-light-blue-100: #0091C7;
$bg-light-blue-200: #0382C0;
$bg-light-blue-300: #0094C9;
$bg-green-100: #83C11F;
$bg-green-200: #BFD131;
$bg-dark-green-100: #10A650;
$bg-orange-100: #F49B29;
$bg-red-100: #E42330;
$bg-black-100: #2D3942;
$color-text-100: #465159;
$color-text-200: #FFFFFF;

/******************PADDING******************/
$pd-4: 4px;
$pd-6: 6px;
$pd-10: 10px;
$pd-12: 12px;
$pd-15: 15px;
$pd-20: 20px;
$pd-25: 25px;

/******************MARGIN******************/
$mg-5: 5px;
$mg-10: 10px;
$mg-12: 12px;
$mg-15: 15px;
$mg-20: 20px;
$mg-25: 25px;

/******************FONT-SIZE******************/
$fs-1: 1rem;
$fs-2: 1.3rem;
$fs-3: 1.5rem;
$fs-4: 1.6rem;
$fs-5: 2.5rem;

/******************FONT-WEIGHT******************/
$font-weight-300: 300;
$font-weight-600: 600;
$font-weight-400: 400;
$font-weight-bold: bold;
